{% extends 'base.html.twig' %}

{% block title %}Prestamos{% endblock %}

{% block body %}
    <h1>Prestamos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Socio</th>
                <th>Ejemplar</th>
                <th>Fecha Devolucion</th>
                <th>Fecha Retiro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.id }}</td>
                <td>{{ prestamo.socio }}</td>
                <td>{{ prestamo.ejemplar }}</td>
                <td>{{ prestamo.fechaDevolucion ? prestamo.fechaDevolucion|date('Y-m-d') : '' }}</td>
                <td>{{ prestamo.fechaRetiro ? prestamo.fechaRetiro|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_prestamo_show', {'id': prestamo.id}) }}">Ver</a>
                    <a href="{{ path('app_prestamo_edit', {'id': prestamo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay ningun registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prestamo_new') }}">Crear nuevo</a>
{% endblock %}
