{% extends 'base.html.twig' %}

{% block title %}Ejemplares{% endblock %}

{% block body %}
    {% if app.flashes('error') is not empty %}
        <div class="alert alert-danger">
            No se ha podido eliminar el ejemplar porque tiene préstamos asociados.
        </div>
    {% endif %}
    <h1>Ejemplares</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libro</th>
                <th>Estado</th>
                <th>Estanteria</th>
                <th>Edicion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ejemplar in ejemplars %}
            <tr>
                <td>{{ ejemplar.id }}</td>
                <td>{{ ejemplar.libro }}</td>
                <td>{{ ejemplar.estado }}</td>
                <td>{{ ejemplar.estanteria }}</td>
                <td>{{ ejemplar.edicion }}</td>
                <td>
                    <a href="{{ path('app_ejemplar_show', {'id': ejemplar.id}) }}">Ver</a>
                    <a href="{{ path('app_ejemplar_edit', {'id': ejemplar.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay ningun registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ejemplar_new') }}">Crear nuevo</a>
{% endblock %}
